<p>
  ranker works!
</p>

<div><p>Article 1 - rank- </p> <input [(ngModel)]="rank.article1" required type="text"/></div>
<div><p>Article 2 - rank- </p><input [(ngModel)]="rank.article2" required type="text"/></div>
<div><p>Article 3 - rank- </p><input [(ngModel)]="rank.article3" required type="text"/></div>
<div><p>Article 4 - rank- </p><input [(ngModel)]="rank.article4" required type="text"/></div>
<div><p>Article 5 - rank- </p><input [(ngModel)]="rank.article5" required type="text"/></div>

<button (click)="submitRanks()">Submit</button>

